doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/vendor/toastr/toastr.css')
    body
        block content
        script(src='/vendor/jquery/dist/jquery.js')
        script(src='/vendor/toastr/toastr.js')
        script(src='/javascripts/global.js')
        script(src="http://localhost:35729/livereload.js?snipver=1")
